.custom-select__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 78px;
    position: absolute;
    border: 1px solid var(--filters-border-color);
    border-radius: 7px;
}
