.body {
    font-family: 'Inter', sans-serif;
    background-color: var(--body-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    letter-spacing: 0%;
    color: var(--text-color);
    height: 100vh;
}
