.custom-select__trigger {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border-radius: 7px 7px 7px 7px;
    border: 1px solid var(--filters-border-color);
    cursor: pointer;
}
